html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 60px;
}

.head-shot {
  padding: 10px;
  height: 250px;
  width: 250px;
}

.sticky-footer {
  color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  /* background: lightgray */

}
.fa-heart {
  color: pink;
}